/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden; /* Evitar desplazamiento horizontal */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Estilos del encabezado */
header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

/* Estilos de la sección de compra */
#compra {
    padding: 60px 20px;
    text-align: center;
}

#compra h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #007BFF;
}

#compra p {
    font-size: 18px;
    margin-bottom: 40px;
}

.purchase-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.option {
    background-color: #e0f7fa;
    border: 1px solid #007BFF;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.option h3 {
    margin-top: 0;
    font-size: 24px;
    color: #007BFF;
}

.option p {
    font-size: 20px;
    margin: 20px 0;
    color: #333;
}

.btn {
    display: inline-block;
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #218838;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    .option {
        width: 100%;
        margin: 10px 0;
    }
}
